body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0;
    background-color: #D6E8EE;
}

header{
    background-color: #ffffff;
    color: rgb(0, 0, 0); 
    padding: 10px;
    text-align: center;
}

nav{
    margin-top: 10px;
}

nav button{
    padding: 10px 20px;
    margin: 5px; 
    background-color: #84bfd3;
    border: none; 
    cursor: pointer;
    border-radius: 5px; 
    font-size: 16px;
    transition: all 0.3s ease;
}

nav button:hover{
    background-color: #018abe;
}

main{
    padding: 20px;
}

section{
    margin: auto;
    background-color: #ffffff;
    padding: 48px;
    height: auto;
    width: 500px;
    border-radius: 16px;
}
form{

    margin-bottom: 20px;
}

form label{
    display: block; 
    margin-top: 10px;
}

form input{
    width: 100%; 
    padding: 8px;
    margin-top: 5px; 
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    transition: all 0.3s ease;
}

form input:focus{
    border-bottom: 1px solid #018abe;
}

form select{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #333;
    border-radius: 5px;
    outline: none;
}
form select:focus{
    border-color: #018abe;
}
button{
    padding: 10px 20px; 
    background-color: #84bfd3;
    color: white; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s ease;
}

button:hover{
    background-color: #018abe;
}

ul{
    list-style-type: none; 
    padding: 0;
}

ul li{
    background: #ffffff; 
    margin: 5px 0;
    padding: 12px; 
    border-radius: 5px;
    border: 1px solid #84bfd3;
}